* {
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}
body {
    position: fixed;
    overflow: hidden;
    background-color: #000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.container {
    position: relative;
    width: 300px;
    /* margin: 0 auto; */
    margin-top: 20px;
    font-size: 25px;
}

.menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#next-tetro {
    width: 180px;
    position: absolute;
    left: 320px;
    top: 200px;
    font-size: 0;
}
.down {
    width: 100px;
    height: 50px;
    background-color: white;
    border-radius: 5%;
    position: absolute;
    left: 330px;
    top: 550px;
    font-size: 25px;
    padding-top: 10px;
    color: black;
    text-align: center;
}

button {
    width: 100px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.main {
    width: 310px;
    height: 610px;
    margin: 20px auto 0;
    border: 5px solid silver;
    font-size: 0; 
    /* убираем встрочное форматирование */
}

.game-over, .start {
    display: none;
    position: absolute;
    top: 60px;
    width: 310px;
    height: 620px;
    font-size: 27px;
    color: red;
    padding-top: 200px;
    text-align: center;
    background-color: rgba(60, 60, 60, .96);
    z-index: 2;
}

.start {
    display: block;
    padding-top: 250px;
}

.game-over button, .start button{
    background-color: red;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: none;
    color: white;
}
.game-over button:hover, .start button:hover {
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid silver;
    display: inline-block;
}

.unvisCell {
    display: inline-block;
}

.small {
    width: 15px;
    height: 15px;
}

.movingCell {
    background-color: blue;
}

.fixedCell {
    background-color: green;
}

.over-score {
    display: block;
    color: white;
    margin: 10px;
}
.over-best-score {
    display: block;
    color: white;
    margin-bottom: 20px;
}

@media (max-width: 500px) {
	body {
		position: fixed;
	}
}

@media (max-width: 470px) {
	.main {
        margin-top: 2px;  
    }
    .start {
        top: 34px;
        height: 610px;  
        padding-top: 264px;
    }
    .game-over {
        top: 34px;
        height: 610px;  
        padding-top: 108px;
    }
    .container {
        margin-top: 0;
        font-size: 19px;
    }
    .menu {
        margin-top: 0;
    }
    button {
        height: 32px;
        font-size: 19px;
    }
}
